body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
  margin: 0; padding: 0; border: 0; outline: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.font-light {
  font-weight: 300;
  font-size: 1.5rem;
}

header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 2rem 0;
  font-size: 5rem;
  font-weight: 300;
  margin: 5.5rem 0;
}

.mobile {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

main.works {
  grid-template-columns: 1fr 2.5fr 1fr;
  margin-top: 3rem;
}

.works header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works header i {
  font-size: 2rem;
  padding: 3rem;
}

.works header img {
  width: 80%;
}

.works section > p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

aside {
  /* background-color: aquamarine; */
  margin: 0 auto;
}
aside ul {
  list-style-type: none;
  margin-left: 8rem;
}

aside ul li {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section div {
  width: 33.3%;
  padding: 5px;
}

section img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 900px) {
  section div {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  header h1 {
    font-size: 5rem;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .mobile li {
    display: inline-block;
  }

  .wide {
    display: none;
  }

  main {
    display: block;
  }

  section div {
    width: 100%;
    padding: 0;
  }
}