body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
  margin: 0; padding: 0; border: 0; outline: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.font-light {
  font-weight: 300;
  font-size: 1.5rem;
}

header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 2rem 0;
  font-size: 5rem;
  font-weight: 300;
  margin: 5.5rem 0;
}

.mobile {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

main.works {
  grid-template-columns: 1fr 2.5fr 1fr;
  margin-top: 3rem;
}

.works header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works header i {
  font-size: 2.5rem;
  padding: 3rem;
  font-weight: bold;
}

#left:hover, #right:hover {
  cursor: pointer;
  color: grey;
}

.works header img {
  width: 80%;
}

.works section > p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

aside {
  /* background-color: aquamarine; */
  margin: 0 auto;
}
aside ul {
  list-style-type: none;
  margin-left: 12rem;
}

aside ul li {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section div {
  width: 33.3%;
  padding: 4px;
}

section div a {
  display: block;
  position: relative;
  line-height: 0;
}

.project-hover {
  line-height: normal;
  position: absolute;
  top: 28%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.35);
}

section div a:hover .project-hover {
  opacity: 1;
}

.text-over-image {
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
}

section img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 900px) {
  section div {
    width: 100%;
    padding: 0;
  }

  .project-hover {
    top: 35%;
    height: 33%;
  }

  .text-over-image {
    font-size: 2rem;
    top: 40%;
  }
}

@media screen and (max-width: 650px) {

  main.works {
    margin-top: 1rem;
  }

  .works header img {
    width: 100%;
  }
  #left, #right {
    display: none;
  }

  header h1 {
    font-size: 5rem;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  ul.mobile {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .mobile li {
    display: inline-block;
  }

  .wide {
    display: none;
  }

  main {
    display: block;
  }

  .works section {
    justify-content: center;
  }

  .works section h2, .works section p {
    width: 90%;
  }

  section div {
    width: 100%;
    padding: 0;
  }
}

/* Wide screens */
@media screen and (min-width: 1400px) {
  .project-hover {
    top: 33%;
    height: 80px;
  }

  .text-over-image {
    font-size: 1.5rem;
    top: 33%;
  }
}

@media screen and (min-width: 1400px) {
  .project-hover {
    top: 36%;
  }

  .text-over-image {
    font-size: 2rem;
    top: 28%;
  }
}